{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<main>
    <section class="mt-8">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xl-6">
                    <!-- img slide -->
                    <div class="product" id="product">
                        <div div class="zoom" onmousemove="zoom(event)" style="background-image: url('{{product.image.url}}'); background-repeat: no-repeat;">
                            <img src="{{product.image.url}}" alt="{{product.title}}" />
                        </div>
                        {% for p_img in p_images %}
                        <div>
                            <div class="zoom" onmousemove="zoom(event)"
                                style="background-image: url('{{p_img.image.url}}')">
                                <!-- img -->
                                <img src="{{p_img.image.url}}" alt="{{product.title}}" />
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- product tools -->
                    <div class="product-tools">
                        <div class="thumbnails row g-3" id="productThumbnails">
                            <div class="col-3">
                                <div class="thumbnails-img">
                                    <!-- img -->
                                    <img src="{{product.image.url}}" alt="{{product.title}}" />
                                </div>
                            </div>
                            {% for p_img in p_images %}
                            <div class="col-3">
                                <div class="thumbnails-img">
                                    <!-- img -->
                                <img src="{{p_img.image.url}}" alt="{{product.title}}" />
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xl-6">
                    <div class="ps-lg-10 mt-6 mt-md-0">
                        <!-- content -->
                        <a href="{% url 'product_category_wise' product.category.category_id %}" class="mb-4 d-block">{{product.category}}</a>
                        <!-- heading -->
                        <h1 class="mb-1">{{product.title}}</h1>
                        <div class="mb-4">
                            <!-- rating -->
                            <!-- rating -->
                            <small class="text-warning">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </small>
                            <a href="#Reviews" class="ms-2">({{reviews.count}} reviews)</a>
                        </div>
                        <div class="fs-4">
                            <!-- price -->
                            <span class="fw-bold text-dark">${{product.price}}</span>
                            <span class="text-decoration-line-through text-muted">${{product.old_price}}</span>
                            <span><small class="fs-6 ms-2 text-danger">{{product.get_percentage | floatformat:0}}% Off</small></span>
                        </div>
                        <!-- hr -->
                        <hr class="my-6" />
                        <!-- 
                        <div class="mb-5">
                            <button type="button" class="btn btn-outline-secondary">250g</button>
                            
                            <button type="button" class="btn btn-outline-secondary">500g</button>
                            
                            <button type="button" class="btn btn-outline-secondary">1kg</button>
                        </div>
                        -->
                        
                        <div>
                            <!-- input -->
                            <div class="input-group input-spinner">
                                <input type="button" value="-" class="button-minus btn btn-sm" data-field="quantity" />
                                <input type="number" step="1" max="10" value="1" name="quantity"
                                    class="quantity-field form-control-sm form-input" />
                                <input type="button" value="+" class="button-plus btn btn-sm" data-field="quantity" />
                            </div>
                        </div>
                        <div class="mt-3 row justify-content-start g-2 align-items-center">
                            <div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
                                <!-- button -->
                                <!-- btn -->
                                <button type="button" class="btn btn-primary">
                                    <i class="bi bi-bag-check me-2"></i>
                                    Add to cart
                                </button>
                            </div>
                            <div class="col-md-4 col-4">
                                <!-- btn -->
                                <a class="btn btn-light" href="#" data-bs-toggle="tooltip" data-bs-html="true"
                                    aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                <a class="btn btn-light" href="shop-wishlist.html" data-bs-toggle="tooltip"
                                    data-bs-html="true" aria-label="Wishlist"><i class="bi bi-heart"></i></a>
                            </div>
                        </div>
                        <!-- hr -->
                        <hr class="my-6" />
                        <div>
                            <!-- table -->
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td>Product Code:</td>
                                        <td>{{product.sku}}</td>
                                    </tr>
                                    <tr>
                                        <td>Availability:</td>
                                        {% if product.in_stock %}
                                        <td>In Stock</td>
                                        {% else %}
                                        <td>Out Of Stock</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Type:</td>
                                        <td>{{product.p_type}}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>
                                            <small>
                                                {{product.shipping}} day shipping.
                                                <!-- <span class="text-muted">( Free pickup today)</span> -->
                                            </small>
                                        </td>
                                    </tr>
                                    {% if product.tags.all %}
                                    <tr>
                                        <td>Tags:</td>
                                        <td>
                                            {% for tag in product.tags.all %}
                                            <a href="{% url 'product_tag_wise' tag.slug %}" rel="tag" style="padding-right: 5px;">
                                                #{{tag.slug}}
                                            </a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-8">
                            <!-- dropdown -->
                            <div class="dropdown">
                                <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Share</a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-facebook me-2"></i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-twitter me-2"></i>
                                            Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-instagram me-2"></i>
                                            Instagram
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-lg-14 mt-8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
                        <!-- nav item -->
                        <li class="nav-item" role="presentation">
                            <!-- btn -->
                            <button class="nav-link active" id="product-tab" data-bs-toggle="tab"
                                data-bs-target="#product-tab-pane" type="button" role="tab"
                                aria-controls="product-tab-pane" aria-selected="true">
                                Product Details
                            </button>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item" role="presentation">
                            <!-- btn -->
                            <button class="nav-link" id="details-tab" data-bs-toggle="tab"
                                data-bs-target="#details-tab-pane" type="button" role="tab"
                                aria-controls="details-tab-pane" aria-selected="false">
                                Information
                            </button>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item" role="presentation" id="Reviews">
                            <!-- btn -->
                            <button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                                data-bs-target="#reviews-tab-pane" type="button" role="tab"
                                aria-controls="reviews-tab-pane" aria-selected="false">
                                Reviews({{reviews.count}})
                            </button>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item" role="presentation">
                            <!-- btn -->
                            <button class="nav-link" id="sellerInfo-tab" data-bs-toggle="tab"
                                data-bs-target="#sellerInfo-tab-pane" type="button" role="tab"
                                aria-controls="sellerInfo-tab-pane" aria-selected="false">
                                Seller Info
                            </button>
                        </li>
                    </ul>
                    <!-- tab content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- tab pane -->
                        <div class="tab-pane fade show active" id="product-tab-pane" role="tabpanel"
                            aria-labelledby="product-tab" tabindex="0">
                            <div class="my-8">
                                <div class="mb-5">
                                    <!-- text -->
                                    <h4 class="mb-1">Description</h4>
                                    <p class="mb-0">
                                        {{product.description}}
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Specification</h5>
                                    <p class="mb-0">
                                       {{product.specification}}
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Seller</h5>
                                    <p class="mb-0">
                                        <a href="{% url 'vendor_details' product.vendor.vendor_id %}">{{product.vendor}}</a>
                                    </p>
                                </div>
                                <div>
                                    <h5 class="mb-1">Disclaimer</h5>
                                    <p class="mb-0">{{product.disclaimer}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- tab pane -->
                        <div class="tab-pane fade" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab"
                            tabindex="0">
                            <div class="my-8">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="mb-4">Details</h4>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <table class="table table-striped">
                                            <!-- table -->
                                            <tbody>
                                                <tr>
                                                    <th>Weight</th>
                                                    <td>1000 Grams</td>
                                                </tr>
                                                <tr>
                                                    <th>Ingredient Type</th>
                                                    <td>Vegetarian</td>
                                                </tr>
                                                <tr>
                                                    <th>Brand</th>
                                                    <td>Dmart</td>
                                                </tr>
                                                <tr>
                                                    <th>Item Package Quantity</th>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <th>Form</th>
                                                    <td>Larry the Bird</td>
                                                </tr>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <td>Dmart</td>
                                                </tr>
                                                <tr>
                                                    <th>Net Quantity</th>
                                                    <td>340.0 Gram</td>
                                                </tr>
                                                <tr>
                                                    <th>Product Dimensions</th>
                                                    <td>9.6 x 7.49 x 18.49 cm</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <table class="table table-striped">
                                            <!-- table -->
                                            <tbody>
                                                <tr>
                                                    <th>ASIN</th>
                                                    <td>SB0025UJ75W</td>
                                                </tr>
                                                <tr>
                                                    <th>Best Sellers Rank</th>
                                                    <td>#2 in Fruits</td>
                                                </tr>
                                                <tr>
                                                    <th>Date First Available</th>
                                                    <td>30 April 2022</td>
                                                </tr>
                                                <tr>
                                                    <th>Item Weight</th>
                                                    <td>500g</td>
                                                </tr>
                                                <tr>
                                                    <th>Generic Name</th>
                                                    <td>Banana Robusta</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab pane -->
                        <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab"
                            tabindex="0">
                            <div class="my-8">
                                <!-- row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="me-lg-12 mb-6 mb-md-0">
                                            <div class="mb-5">
                                                <!-- title -->
                                                <h4 class="mb-3">Customer reviews</h4>
                                                <span>
                                                    <!-- rating -->
                                                    <small class="text-warning">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-half"></i>
                                                    </small>
                                                    <span class="ms-3">{{avarage_rating.rating | floatformat:1}} out of 5</span>
                                                    <small class="ms-3">{{reviews.count}} global ratings</small>
                                                </span>
                                            </div>
                                            <div class="mb-8">
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                    <div class="text-nowrap me-3 text-muted">
                                                        <span class="d-inline-block align-middle text-muted">5</span>
                                                        <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                    </div>
                                                    <div class="w-100">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                                style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <span class="text-muted ms-3">53%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                    <div class="text-nowrap me-3 text-muted">
                                                        <span class="d-inline-block align-middle text-muted">4</span>
                                                        <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                    </div>
                                                    <div class="w-100">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="50"></div>
                                                        </div>
                                                    </div>
                                                    <span class="text-muted ms-3">22%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                    <div class="text-nowrap me-3 text-muted">
                                                        <span class="d-inline-block align-middle text-muted">3</span>
                                                        <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                    </div>
                                                    <div class="w-100">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                                style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                                aria-valuemax="35"></div>
                                                        </div>
                                                    </div>
                                                    <span class="text-muted ms-3">14%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                    <div class="text-nowrap me-3 text-muted">
                                                        <span class="d-inline-block align-middle text-muted">2</span>
                                                        <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                    </div>
                                                    <div class="w-100">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                                style="width: 22%" aria-valuenow="22" aria-valuemin="0"
                                                                aria-valuemax="22"></div>
                                                        </div>
                                                    </div>
                                                    <span class="text-muted ms-3">5%</span>
                                                </div>
                                                <!-- progress -->
                                                <div class="d-flex align-items-center mb-2">
                                                    <div class="text-nowrap me-3 text-muted">
                                                        <span class="d-inline-block align-middle text-muted">1</span>
                                                        <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                    </div>
                                                    <div class="w-100">
                                                        <div class="progress" style="height: 6px">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                                style="width: 14%" aria-valuenow="14" aria-valuemin="0"
                                                                aria-valuemax="14"></div>
                                                        </div>
                                                    </div>
                                                    <span class="text-muted ms-3">7%</span>
                                                </div>
                                            </div>
                                            <div class="d-grid">
                                                <h4>Review this product</h4>
                                                <p class="mb-0">Share your thoughts with other customers.</p>
                                                <a href="#" class="btn btn-outline-gray-400 mt-4 text-muted">Write the
                                                    Review</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col -->
                                    <div class="col-md-8">
                                        <div class="mb-10">
                                            <div class="d-flex justify-content-between align-items-center mb-8">
                                                <div>
                                                    <!-- heading -->
                                                    <h4>Reviews({{reviews.count}})</h4>
                                                </div>
                                                <div>
                                                    <select class="form-select">
                                                        <option selected>Top Reviews</option>
                                                        <option value="Most Recent">Most Recent</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% for r in reviews %}
                                            <div class="d-flex border-bottom pb-6 mb-6">
                                                <!-- img -->
                                                <!-- img -->
                                                <img src="{{r.user.photo.url}}" alt="{{r.user.username}}"
                                                    class="rounded-circle avatar-lg" />
                                                <div class="ms-5">
                                                    <h6 class="mb-1">{{r.user.username}}</h6>
                                                    <!-- select option -->
                                                    <!-- content -->
                                                    <p class="small">
                                                        <span class="text-muted">{{r.date}}</span>
                                                        <!-- <span class="text-primary ms-3 fw-bold">Verified Purchase</span> -->
                                                    </p>
                                                    <!-- rating -->
                                                    <div class="mb-2">
                                                        {{r.rating}}
                                                    </div>
                                                    <!-- text-->
                                                    <p>
                                                        {{r.review}}
                                                    </p>
                                                    <div>
                                                        <div class="border icon-shape icon-lg border-2">
                                                            <!-- img -->
                                                            <img src="{% static 'images/products/product-img-1.jpg' %}"
                                                                alt="" class="img-fluid" />
                                                        </div>
                                                        <div class="border icon-shape icon-lg border-2 ms-1">
                                                            <!-- img -->
                                                            <img src="{% static 'images/products/product-img-2.jpg' %}"
                                                                alt="" class="img-fluid" />
                                                        </div>
                                                        <div class="border icon-shape icon-lg border-2 ms-1">
                                                            <!-- img -->
                                                            <img src="{% static 'images/products/product-img-3.jpg' %}"
                                                                alt="" class="img-fluid" />
                                                        </div>
                                                    </div>
                                                    <!-- icon -->
                                                    <div class="d-flex justify-content-end mt-4">
                                                        <a href="#" class="text-muted">
                                                            <i class="feather-icon icon-thumbs-up me-1"></i>
                                                            Helpful
                                                        </a>
                                                        <a href="#" class="text-muted ms-4">
                                                            <i class="feather-icon icon-flag me-2"></i>
                                                            Report abuse
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div>
                                                <a href="#" class="btn btn-outline-gray-400 text-muted">Read More
                                                    Reviews</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab pane -->
                        <div class="tab-pane fade" id="sellerInfo-tab-pane" role="tabpanel"
                            aria-labelledby="sellerInfo-tab" tabindex="0">
                            <div class="my-8">
                                <div class="mb-5">
                                    <!-- text -->
                                    <h4 class="mb-1">Seller</h4>
                                    <p class="mb-0">
                                        <a href="{% url 'vendor_details' product.vendor.vendor_id %}">
                                            {{product.vendor.title}}
                                        </a>
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Address</h5>
                                    <p class="mb-0">
                                       {{product.vendor.address}}
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Contact</h5>
                                    <p class="mb-0">
                                       {{product.vendor.contact}}
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Authentic Rating</h5>
                                    <p class="mb-0">
                                       {{product.vendor.authentic_rating}}% Authentic
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Day Returns</h5>
                                    <p class="mb-0">
                                       {{product.vendor.days_return}} Days Returns
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="mb-1">Warrenty Period</h5>
                                    <p class="mb-0">
                                       {{product.vendor.warenty_period}} Days Warrenty
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section -->
    <section class="my-lg-14 my-14">
        <div class="container">
            <!-- row -->
            <div class="row">
                {% if products %}
                <div class="col-12">
                    <!-- heading -->
                    <h3>Related Products</h3>
                </div>
                {% endif %}
            </div>
            <!-- row -->
            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-2 mt-2">
                <!-- col -->
                {% for p in products %}
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative">
                                <div class="position-absolute top-0 start-0">
                                    <span class="badge bg-danger">-{{p.get_percentage | floatformat:0}}%</span>
                                </div>
                                <a href="{% url 'product_details' p.product_id %}"><img src="{{p.image.url}}"
                                        alt="{{p.title}}" class="mb-3 img-fluid" /></a>

                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal">
                                        <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                            title="Quick View"></i>
                                    </a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1">
                                <a href="{% url 'product_category_wise' p.category.category_id %}" class="text-decoration-none text-muted"><small>{{p.category.title}}</small></a>
                            </div>
                            <h2 class="fs-6"><a href="{% url 'product_details' p.product_id %}"
                                    class="text-inherit text-decoration-none">{{p.title}}</a></h2>
                            <small>By <strong>{{p.vendor}}</strong></small>
                            <div>
                                <small class="text-warning">
                                    stars
                                </small>
                                <span class="text-muted small">4.5(149)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div>
                                    <span class="text-dark">${{p.price}}</span>
                                    <span class="text-decoration-line-through text-muted">${{p.old_price}}</span>
                                </div>
                                <div>
                                    <a href="#!" class="btn btn-primary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock content %}